include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
include ROADMAP.md
include PROJECT_STATE.md
include RELEASE.md
include CITATION.cff
include pyproject.toml
include requirements/minimum.txt
include requirements/typecheck.txt
recursive-include examples *
recursive-include docs/source *.rst *.inc *.py *.css *.png *.txt *.dat *.csv *.yaml *.spec
recursive-include docs/tools *.py
recursive-include tools *.py *.sh *.ps1 *.md

global-exclude *.py[cod]
global-exclude __pycache__
